.Options {
  background-color: #fff;
  padding: 1em;
  width: 400px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.Options .selected {
  background-color: #aaa;
}

.Options .RadioGroup label {
  border: 1px solid #999;
  padding: 4px 8px;
  display: inline-block;
}

.Options .RadioGroup input[type='radio'] {
  position: fixed;
  opacity: 0;
}

.Options .RadioGroup label:first-of-type {
  border-radius: 8px 0px 0px 8px;
}

.Options .RadioGroup label:not(:first-of-type) {
  margin-left: -1px;
}

.Options .RadioGroup label:last-of-type {
  border-radius: 0px 8px 8px 0px;
}
